@import "tailwindcss";
@import "uniwind";

@theme {
  /* Brand Colors */

  --color-primary: #bd1e01;
  --color-primary-dark: #771b0a;
  --color-secondary: #bc7700;
  --color-tertiary: #eb5e31;
  --color-accent: #e6a737;

  --font-funnel-display-regular: "FunnelDisplay-Regular";

  /* Static color versions */
  /* 
    These will be static (don't change with the current dark/light theme): 
	  they have an ending with the theme color -dark and -light. 

	  For example:
	  [--color-back-dark]: is the static version of "--color-back" but from the dark theme
	  [--color-back-light]: is the static light version of "--color-back"
	*/
  /* Dark */ /* Background */
  --color-fill-back-dark: #0a0a0a;
  --color-fill-base-dark: #0e0e0e;
  --color-fill-middle-dark: #131313;
  --color-fill-front-dark: #171717;
  --color-fill-top-dark: #1a1a1a;

  /* Foreground */
  --color-fg-strong-dark: #fafafa;
  --color-fg-default-dark: #c0c0c0;
  --color-fg-subtle-dark: #a0a0a0;
  --color-fg-muted-dark: #707070;

  /* Borders */
  --color-bd-strong-dark: #272727;
  --color-bd-default-dark: #202020;
  --color-bd-muted-dark: #1a1a1a;

  /* Status */
  --color-success-dark: #00c951;
  --color-success-bd-dark: #0bbc3f;
  --color-success-fill-dark: #07480f;

  --color-danger-dark: #ff3c45;
  --color-danger-bd-dark: #130a11;
  --color-danger-fill-dark: #730005;

  --color-info-dark: #3694ff;
  --color-info-bd-dark: #1d5bb9;
  --color-info-fill-dark: #112b62;

  --color-warning-dark: #efef1c;
  --color-warning-bd-dark: #bcaf20;
  --color-warning-fill-dark: #5c550c;

  /* Accessibility */
  --color-focus-dark: #fff;

  /* Light */

  /* Background */
  --color-fill-back-light: #f8f8ff;
  --color-fill-base-light: #fcfcff;
  --color-fill-middle-light: #eaeafa;
  --color-fill-front-light: #e8e8fa;
  --color-fill-top-light: #e4e4fa;

  /* Foreground */
  --color-fg-strong-light: #050505;
  --color-fg-default-light: #2a2a2a;
  --color-fg-subtle-light: #4a4a4a;
  --color-fg-muted-light: #6a6a6a;

  /* Borders */
  --color-bd-strong-light: #d0d0d0;
  --color-bd-default-light: #d9d9d9;
  --color-bd-muted-light: #e0e0e0;

  /* Status */
  --color-success-light: #369a00;
  --color-success-bd-light: #33be17;
  --color-success-fill-light: #a2fe70;

  --color-danger-light: #ba0000;
  --color-danger-bd-light: #ef1e1e;
  --color-danger-fill-light: #ff6e6e;

  --color-info-light: #2f5dd0;
  --color-info-bd-light: #7e80ff;
  --color-info-fill-light: #b2a9ff;

  --color-warning-light: #869800;
  --color-warning-bd-light: #bfc500;
  --color-warning-fill-light: #e6f97b;

  /* Accessibility */
  --color-focus-light: #000;

  /* Dynamic Colors */

  /* Background */
  --color-fill-back: var(--color-fill-back-dark);
  --color-fill-base: var(--color-fill-base-dark);
  --color-fill-middle: var(--color-fill-middle-dark);
  --color-fill-front: var(--color-fill-front-dark);
  --color-fill-top: var(--color-fill-top-dark);

  /* Foreground */
  --color-fg-strong: var(--color-fg-strong-dark);
  --color-fg-default: var(--color-fg-default-dark);
  --color-fg-subtle: var(--color-fg-subtle-dark);
  --color-fg-muted: var(--color-fg-muted-dark);

  /* Border */
  --color-bd-strong: var(--color-bd-strong-dark);
  --color-bd-default: var(--color-bd-default-dark);
  --color-bd-muted: var(--color-bd-muted-dark);

  /* Status */
  --color-success: var(--color-success-dark);
  --color-success-bd: var(--color-success-bd-dark);
  --color-success-fill: var(--color-success-fill-dark);

  --color-danger: var(--color-danger-dark);
  --color-danger-bd: var(--color-danger-bd-dark);
  --color-danger-fill: var(--color-danger-fill-dark);

  --color-info: var(--color-info-dark);
  --color-info-bd: var(--color-info-bd-dark);
  --color-info-fill: var(--color-info-fill-dark);

  --color-warning: var(--color-warning-dark);
  --color-warning-bd: var(--color-warning-bd-dark);
  --color-warning-fill: var(--color-warning-fill-dark);

  /* Accessibility */
  --color-focus: var(--color-focus-dark);
}
